.transition-slow {
    transition: 2s;
}

.transition-medium {
    transition: 1s;
}

.transition-fast {
    transition: 0.5s;
}

.white-border {
    border: 5px solid white;
}

.height-100 {
    height: 100%;
}

.height-80 {
    height: 80%;
}

.valign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-shadow {
    text-shadow: 0px 3px 5px black;
}

.drop-shadow {
    box-shadow: 0px 2px 20px black;
}

.inner-shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.monospace {
    font-family: "Calibri";
}

.sans-serif {
    font-family: Calibri;
}

.vignette {
    -moz-box-shadow:    inset 0 0 500px #000000;
    -webkit-box-shadow: inset 0 0 500px #000000;
    box-shadow:         inset 0 0 500px #000000;
}

p.indent {
    text-indent: 50px;
    text-align: justify;
}

.top-margin {
    margin-top: 20px;
}

.top-margin-big {
    margin-top: 60px;
}

.bold {
    font-weight: bold;
}

ul.red-bullets {
    list-style: none;
}

ul.red-bullets li::before {
    content: "\2022";
    color: #b71c1c; /* Change the color */
    margin-left: -1em;
    width: 1em;
    display: inline-block;
}

.parallax-bg {
    background-image: url(../img/Parallax_Background.png);
}

.add-property {
    height: 100%;
    width: 100%;
    position:absolute;
    mix-blend-mode: screen;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

input.page {
    outline: 0px;
    border: 0px;
}

/* Chrome, Safari, Edge, Opera */
input.page::-webkit-outer-spin-button,
input.page::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.page[type=number] {
  -moz-appearance: textfield;
}

.floating-download {
    position: absolute;
    top: 596px;
    left: 250px;
    font-size: 25px;
    opacity: 1;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.round-corners-low {
    border-radius: 10px;
}

.round-corners-mid {
    border-radius: 20px;
}

.round-corners-high {
    border-radius: 30px;
}

.opacity-0 {
    opacity: 0;
}

#title-text {
    font-size:100px;
    position:relative;
    font-weight: bold;
    cursor: pointer;
}
  
/*
text-shadow forked from: https://codepen.io/teetteet/details/dFICw#forkline
*/
.superShadow {
    text-shadow:     0 1px 0 hsl(174,5%,80%),
                       0 2px 0 hsl(174,5%,75%),
                       0 3px 0 hsl(174,5%,70%),
                       0 4px 0 hsl(174,5%,66%),
                       0 5px 0 hsl(174,5%,64%),
                       0 6px 0 hsl(174,5%,62%),
                       0 7px 0 hsl(174,5%,61%),
                       0 8px 0 hsl(174,5%,60%),
      
                       0 0 5px rgba(0,0,0,.05),
                      0 1px 3px rgba(0,0,0,.2),
                      0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
}
  
strong{
    font-size:200px;
}